@import "../base";

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?68cqoe');
  src:  url('fonts/icomoon.eot?68cqoe#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?68cqoe') format('truetype'),
        url('fonts/icomoon.woff?68cqoe') format('woff'),
        url('fonts/icomoon.svg?68cqoe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  @include icon-font;
}

@each $name, $glyph in $icons {
  .icon-#{$name}:before {
    content: $glyph;
  }
}