<template>
  <div class="about">
    <h1>{{ $t("about.title") }}</h1>
    <TeaserList
      variation="small"
      :teasers="[
        {
          id: 0,
          backgroundColor: '#E53935',
          title: $t('about.teaser.first.title'),
          teaserItems: [
            {
              text: $t('about.teaser.first.text'),
              link: {
                text: $t('about.teaser.first.link'),
                target: '_blank',
                url: '/webapps'
              }
            }
          ]
        },
        {
          id: 1,
          backgroundColor: '#428E92',
          title: $t('about.teaser.second.title'),
          teaserItems: [
            {
              text: $t('about.teaser.second.text'),
              link: {
                text: $t('about.teaser.second.link'),
                target: '_blank',
                url: '/cms'
              }
            }
          ]
        },
        {
          id: 2,
          backgroundColor: '#ffb30f',
          title: $t('about.teaser.third.title'),
          teaserItems: [
            {
              text: $t('about.teaser.third.text'),
              link: {
                text: $t('about.teaser.third.link'),
                target: '_blank',
                url: '/individual'
              }
            }
          ]
        }
      ]"
    />
  </div>
</template>

<script>
import TeaserList from "@/components/TeaserList.vue";

export default {
  name: "About",
  components: {
    TeaserList
  }
};
</script>
