<template>
  <div>
    <h1 class="title">Wir entwickeln CMS.</h1>
    <h2 class="leadtext">
      Wir passen Ihr bestehendes CMS an Ihre Bedürfnisse an oder entwickeln eine
      von Grund auf neue Lösung.
    </h2>
    <h4>Entwicklung für Unternehmen</h4>
    <p>
      Statische Webseiten sind Schnee von gestern. Mithilfe neuer Technologien
      ist es möglich, dass Web-Lösungen eine nahezu gleiche User Experience wie
      Desktop- und Mobile Applikationen bieten. Solice hilft Ihnen die Vorteile
      der neuen Technologien zu nutzen, indem wir Ihren bestehenden Webauftritt
      weiterentwickeln oder ein neues Fundament schaffen, das für die Zukunft
      bestens gerüstet ist.
    </p>
    <h4>Frontend Entwicklung</h4>
    <p>
      Wir entwickeln ausgeklügelte Lösungen damit unsere Kunden auch komplexe
      Herausforderungen lösen können. Unsere Lösungen sind effizient, flexibel,
      wartbar, robust und verständlich. Wir vernetzen Sie mit Ihren Kunden,
      unabhängig vom eingesetzten Browser, Gerät oder Betriebssystem.
    </p>
    <h4>Backend Entwicklung</h4>
    <p>
      Die optimale Lösung ist individuell. Wir konzipieren Lösungen, die Ihren
      spezifischen Bedürfnissen gerecht werden. Dabei können wir bestehende
      Systeme integrieren oder eine von Grund auf neue Lösung designen.
    </p>
  </div>
</template>

<script>
export default {
  name: "Cms.vue"
};
</script>

<style scoped lang="scss">
@import "../assets/base.scss";

h1 {
  margin-bottom: 74px;
}

h2 {
  margin-bottom: 62px;
}

h4 {
  margin-bottom: 34px;
}

p {
  margin-bottom: 48px;
}
</style>
