<template>
  <div class="home">
    <div class="hero-container">
      <Hero
        :first-text="$t('home.values.first') + '.'"
        :second-text="$t('home.values.second') + '.'"
        :third-text="$t('home.values.third') + '.'"
        :slogan="$t('home.slogan')"
      />
    </div>
    <TeaserList
      :teasers="[
        {
          id: 0,
          backgroundColor: '#E53935',
          title: $t('home.teaser.cms.title'),
          teaserItems: [
            {
              text: $t('home.teaser.cms.item1.text'),
              link: {
                text: $t('home.teaser.cms.item1.link'),
                url: '/webapps'
              }
            },
            {
              text: $t('home.teaser.cms.item2.text'),
              link: {
                text: $t('home.teaser.cms.item2.link'),
                url: '/cms'
              }
            },
            {
              text: $t('home.teaser.cms.item3.text'),
              link: {
                text: $t('home.teaser.cms.item3.link'),
                url: '/individual'
              }
            }
          ]
        },
        {
          id: 1,
          backgroundColor: '#428E92',
          title: $t('home.teaser.about.title'),
          teaserItems: [
            {
              text: $t('home.teaser.about.item1.text'),
              link: {
                text: $t('home.teaser.about.item1.link'),
                url: '/about'
              }
            }
          ]
        }
      ]"
    />
  </div>
</template>

<script>
import TeaserList from "@/components/TeaserList.vue";
import Hero from "../components/Hero";

export default {
  name: "Home",
  components: {
    Hero,
    TeaserList
  }
};
</script>

<style lang="scss" scoped>
@import "src/assets/base";

$teaser-offset: 234px;

.hero-container {
  min-height: calc(100vh - #{$header-height} - #{$teaser-offset});
}
</style>
