<template>
  <div>
    <h1 class="title">Wir entwickeln Individualsoftware.</h1>
    <h2 class="leadtext">
      Schaffen Sie sich einen Vorsprung zur Konkurrenz. Wir glauben an agile
      Prinzipien, kurze Feedbackzyklen und rasche Resultate, damit Sie Ihre
      Ideen schnell validieren können.
    </h2>
    <h4>Frontend Entwicklung</h4>
    <p>
      Wir entwickeln ausgeklügelte Lösungen damit unsere Kunden auch komplexe
      Herausforderungen lösen können. Unsere Lösungen sind effizient, flexibel,
      wartbar, robust und verständlich. Wir vernetzen Sie mit Ihren Kunden,
      unabhängig vom eingesetzten Browser, Gerät oder Betriebssystem.
    </p>
  </div>
</template>

<script>
export default {
  name: "Cms.vue"
};
</script>

<style scoped lang="scss">
@import "../assets/base.scss";

h1 {
  margin-bottom: 74px;
}

h2 {
  margin-bottom: 62px;
}

h4 {
  margin-bottom: 34px;
}

p {
  margin-bottom: 48px;
}
</style>
