<template>
  <div>
    <h1 class="title">Wir entwickeln Webseiten und Apps.</h1>
    <h2 class="leadtext">
      Wir entwickeln Ihren Webauftritt. Für alle Geräte und für SEO optimiert.
      Dabei begleiten wir Sie von der ersten Anforderung bis hin zur Wartung.
    </h2>
    <h4>Entwicklung für Unternehmen</h4>
    <p>
      Statische Webseiten sind Schnee von gestern. Mithilfe neuer Technologien
      ist es möglich, dass Web-Lösungen eine nahezu gleiche User Experience wie
      Desktop- und Mobile Applikationen bieten. Solice hilft Ihnen die Vorteile
      der neuen Technologien zu nutzen, indem wir Ihren bestehenden Webauftritt
      weiterentwickeln oder ein neues Fundament schaffen, das für die Zukunft
      bestens gerüstet ist.
    </p>
    <h4>Frontend Entwicklung</h4>
    <p>
      Wir entwickeln ausgeklügelte Lösungen damit unsere Kunden auch komplexe
      Herausforderungen lösen können. Unsere Lösungen sind effizient, flexibel,
      wartbar, robust und verständlich. Wir vernetzen Sie mit Ihren Kunden,
      unabhängig vom eingesetzten Browser, Gerät oder Betriebssystem.
    </p>
    <h4>Backend Entwicklung</h4>
    <p>
      Die optimale Lösung ist individuell. Wir konzipieren Lösungen, die Ihren
      spezifischen Bedürfnissen gerecht werden. Dabei können wir bestehende
      Systeme integrieren oder eine von Grund auf neue Lösung designen.
    </p>
    <h4>Webdesign</h4>
    <p>
      Ein grosser Teil der User Experience ist das Aussehen und die
      Bedienbarkeit Ihrer Webseite. Bei Solice setzen wir auf klare,
      benutzerfreundliche Oberflächen und vergessen dabei auch die
      Barrierefreiheit nicht. Ob Sie also ihr Design auf Vordermann bringen
      möchten oder für ihre neue Lösungen ein Design benötigen, wir unterstützen
      Sie gerne.
    </p>
  </div>
</template>

<script>
export default {
  name: "Cms.vue"
};
</script>

<style lang="scss">
@import "../assets/base.scss";

h1 {
  margin-bottom: 74px;
}

h2 {
  margin-bottom: 62px;
}

h4 {
  margin-bottom: 34px;
}

p {
  margin-bottom: 48px;
}
</style>
