<template>
  <div v-if="showSidebar" class="sidebar" :style="style">
    <span
      class="icon-close"
      aria-label="Close Subpage"
      @click="goToPreviousRoute()"
    ></span>
  </div>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  inject,
  ref,
  watch
} from "@vue/composition-api";
import { Vue } from "vue/types/vue";
import { STORE } from "../constants/provided-components";
import { Store } from "../store/store";

export default defineComponent({
  name: "CloseSidebar",
  setup() {
    const store = inject(STORE) as Store;
    const goToPreviousRoute = function(this: Vue) {
      this.$router.go(-1);
    };

    const show = ref(false);

    watch(
      function(this: Vue) {
        return this.$route;
      },
      function(route) {
        show.value = route.meta.sidebar || false;
      }
    );

    const style = computed(() => {
      return store.accentColor ? { "background-color": store.accentColor } : {};
    });
    const showSidebar = computed(() => show.value && !store.menuOpen);

    return {
      goToPreviousRoute,
      style,
      showSidebar
    };
  }
});
</script>

<style lang="scss" scoped>
@import "../assets/base";

.sidebar {
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  @include fluid-type(
    width,
    $viewport-min,
    $viewport-max,
    $sidebar-width-min,
    $sidebar-width-max
  );
  min-height: 100vh;
  height: 100%;
  @include fluid-type(
    margin-left,
    $viewport-min,
    $viewport-max,
    $left-right-content-space-min - $sidebar-width-min,
    $left-right-content-space-max - $sidebar-width-max
  );

  .icon-close {
    display: none;

    @media screen and (min-width: 50em) {
      display: inline;
      margin-top: $header-height/2 - $sidebar-close-size/2;
      font-size: $sidebar-close-size;
      cursor: pointer;
    }
  }
}
</style>
