<template>
  <footer>
    <div class="logo--wrapper">
      <img alt="logo" class="logo" src="../assets/logo.svg" />
      <span class="company-text">Solice</span>
    </div>
    <div class="footer-menu">
      <CustomLink url="/about" text="Impressum" />
    </div>
  </footer>
</template>

<script lang="ts">
import CustomLink from "@/components/Link.vue";

export default {
  components: { CustomLink }
};
</script>

<style scoped lang="scss">
@import "src/assets/base.scss";

footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0;

  font-family: Quicksand, serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #1f1f1f;
}

.logo--wrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: $logo-width-sm;
  @media screen and (min-width: 50em) {
    width: 58px;
  }
}

.company-text {
  @include title-font;
  color: #e53935;
  margin-left: 24px;
}

.footer-menu {
  margin-top: 18px;

  a {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:visited {
      color: inherit;
    }
  }
}
</style>
