<template>
  <header>
    <div class="logo">
      <router-link to="/">
        <img alt="Solice Logo" src="../assets/logo.svg" />
      </router-link>
    </div>
    <span class="company-text">Solice.</span>
    <nav :class="{ 'nav--open': isSmallViewportMenuOpen }">
      <div @click="closeMenu" class="nav__items-wrapper">
        <NavigationItem to="/">{{ $t("header.offering") }}</NavigationItem>
        <NavigationItem to="/about">{{ $t("header.aboutus") }}</NavigationItem>
        <NavigationItem to="/contact">{{
          $t("header.contact")
        }}</NavigationItem>
      </div>
      <LanguageChanger class="nav__language-changer" />
    </nav>
    <button
      class="nav__menu-toggle"
      v-bind:class="{
        'nav__menu-toggle--open': isSmallViewportMenuOpen
      }"
      @click="isSmallViewportMenuOpen = !isSmallViewportMenuOpen"
    >
      Menu
    </button>
  </header>
</template>

<script lang="ts">
import LanguageChanger from "./LanguageChanger.vue";
import {
  defineComponent,
  inject,
  ref,
  SetupContext,
  watch
} from "@vue/composition-api";
import NavigationItem from "./NavigationItem.vue";
import { Mutations } from "../store/store";
import { MUTATIONS } from "../constants/provided-components";

function useNavigation(
  context: SetupContext,
  window: Window,
  document: Document,
  mutations: Mutations
) {
  const isSmallViewportMenuOpen = ref(false);

  function updateScrollBehaviour(isSmallViewportMenuOpen: boolean): void {
    const body = document.getElementsByTagName("body").item(0);
    if (body) {
      if (isSmallViewportMenuOpen) {
        window.scrollTo(0, 0);
        body.style.overflow = "hidden";
      } else {
        body.style.overflow = "";
      }
    }
  }

  function updateMenu(isSmallViewportMenuOpen: boolean): void {
    updateScrollBehaviour(isSmallViewportMenuOpen);
    mutations.setMenuOpen(isSmallViewportMenuOpen);
  }

  const closeMenu = () => {
    isSmallViewportMenuOpen.value = false;
  };

  watch(
    () => isSmallViewportMenuOpen.value,
    () => updateMenu(isSmallViewportMenuOpen.value)
  );

  return {
    isSmallViewportMenuOpen,
    closeMenu
  };
}
export default defineComponent({
  components: { NavigationItem, LanguageChanger },
  props: {
    window: {
      required: true
    },
    document: {
      required: true
    }
  },
  setup(props, context) {
    const { isSmallViewportMenuOpen, closeMenu } = useNavigation(
      context,
      props.window as Window,
      props.document as Document,
      inject(MUTATIONS) as Mutations
    );
    return {
      isSmallViewportMenuOpen,
      closeMenu
    };
  }
});
</script>

<style scoped lang="scss">
@import "src/assets/base.scss";

header {
  height: $header-height;
  display: flex;
  @include fluid-type(
    margin-left margin-right,
    $viewport-min,
    $viewport-max,
    $left-right-content-space-min,
    $left-right-content-space-max
  );
  align-items: center;
}

.logo {
  width: $logo-width-sm;
  margin-right: 1em;
  @media screen and (min-width: 50em) {
    width: 41px;
    position: relative;
    left: -92px;
    margin-left: -41px;
    margin-right: 0;
    flex: 0 0 auto;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.company-text {
  @include title-font;
  margin-right: auto;
}

nav {
  display: none;
  position: fixed;
  left: 0;
  top: $header-height;
  z-index: $navigation-overlay-z-index;
  height: calc(100vh - 136px);
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  @include fluid-type(
    padding-top padding-bottom,
    25em,
    35em,
    3.75em,
    6.25em,
    "height"
  );

  .nav__language-changer {
    margin-top: 2em;
  }

  & > * {
    // Needed for IE to infer correct height of flex container
    flex: 0 0 auto;
  }

  &.nav--open {
    display: flex;
    background-color: #fff;

    @media screen and (max-height: 35em) {
      top: 0;
      height: 100vh;
      padding-bottom: 0;
      overflow-y: auto;

      // Cannot be provided as padding-bottom see: https://github.com/w3c/csswg-drafts/issues/129
      > *:last-child:after {
        content: "";
        display: block;
        @include fluid-type(height, 25rem, 35rem, 3.75rem, 6.25rem, "height");
      }
    }
  }

  @media screen and (min-width: 100em) {
    display: flex;
    flex-direction: row;
    position: static;
    height: auto;
    width: auto;

    .nav__language-changer {
      margin: 0;
    }
  }
}

.nav__menu-toggle {
  display: inline;
  background-color: transparent;
  font-family: Quicksand, serif;
  text-transform: uppercase;
  font-size: 100%;
  outline: none;
  border: 0;
  padding: 0;
  z-index: $navigation-overlay-z-index;

  @media screen and (min-width: 100em) {
    display: none;
  }

  &:after {
    @include icon-font;
    content: map_get($icons, "menu");
  }

  &--open:after {
    content: map_get($icons, "close");
  }
}
</style>
