<template>
  <div class="hero">
    <p>{{ firstText }}</p>
    <p>{{ secondText }}</p>
    <p>{{ thirdText }}</p>
    <p class="slogan">{{ slogan }}</p>
  </div>
</template>

<script>
export default {
  name: "Hero",
  props: {
    firstText: String,
    secondText: String,
    thirdText: String,
    slogan: String
  }
};
</script>

<style scoped lang="scss">
@import "src/assets/base.scss";
p {
  @include title-font();
}
.hero {
  @include fluid-type(
    margin-left margin-right,
    $viewport-min,
    $viewport-max,
    $left-right-content-space-min,
    $left-right-content-space-max
  );
}
.slogan {
  @include fluid-type(margin-top, $viewport-min, $viewport-max, 2.5em, 3em);
}
</style>
