<template>
  <button class="language-switch" @click="changeLanguage($event)">
    {{ inactiveLocale }}
  </button>
</template>

<script lang="ts">
import { computed, defineComponent, inject, ref } from "@vue/composition-api";
import { Mutations, Store } from "../store/store";
import { MUTATIONS, STORE } from "../constants/provided-components";
import { i18n } from "../main";

function useLanguageChanger(currentLocale: string, mutations: Mutations) {
  const selectableLocales = ["de", "en"];
  const activeLocale = ref(currentLocale);
  const inactiveLocale = computed(() =>
    selectableLocales
      .filter(l => l !== activeLocale.value)
      ?.pop()
      ?.toUpperCase()
  );

  function isValidLocale(targetLocale: string) {
    return selectableLocales.find(l => l === targetLocale);
  }

  function updateRoute(this: Vue, targetLocale: string) {
    this.$router.replace(
      this.$localizeRoutes.changeLocale(this.$router.currentRoute, targetLocale)
    );
  }

  const changeLanguage = function(this: Vue, e: Event) {
    const targetLocale = (e.target as HTMLButtonElement).innerText.toLowerCase();
    if (isValidLocale(targetLocale)) {
      i18n.locale = targetLocale;
      mutations.setCurrentLocale(targetLocale);
      updateRoute.call(this, targetLocale);
      activeLocale.value = targetLocale;
    }
  };
  return {
    inactiveLocale,
    changeLanguage
  };
}

export default defineComponent({
  name: "language-changer",
  inject: { i18n: "i18n" },
  setup() {
    const { inactiveLocale, changeLanguage } = useLanguageChanger(
      (inject(STORE) as Store).currentLocale,
      inject(MUTATIONS) as Mutations
    );
    return {
      inactiveLocale,
      changeLanguage
    };
  }
});
</script>

<style scoped lang="scss">
@import "src/assets/base.scss";

.language-switch {
  @include navigation-font();
  display: inline-block;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
}
</style>
