<template>
  <div class="link">
    <router-link v-if="isRoute" :to="resolvedUrl"><slot /></router-link>
    <a v-else :href="resolvedUrl" :target="target"><slot /></a>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, inject, ref } from "@vue/composition-api";
import { Store } from "../store/store";

export default defineComponent({
  props: {
    url: {
      type: String
    },
    target: {
      type: String,
      default: "_self"
    }
  },
  setup(props, context) {
    const isRelativeUrl = (href?: string) => {
      if (href) {
        try {
          new URL(href);
        } catch (e) {
          return true;
        }
      }
      return false;
    };
    const isRoute = ref(isRelativeUrl(props.url));
    const store = inject("store") as Store;

    const resolvedUrl = computed(() => {
      if (isRoute.value && props.url) {
        return context.root.$localizeRoutes.getFullLocalizedPath(
          props.url,
          store.currentLocale
        );
      } else {
        return props.url;
      }
    });

    return {
      isRoute,
      resolvedUrl
    };
  }
});
</script>

<style lang="scss" scoped>
.link {
  font-size: 18px;
  line-height: 24px;

  a,
  a:visited,
  a:hover {
    color: inherit;
    text-decoration: none;
  }
}
</style>
