<template>
  <div class="nav__item-wrapper">
    <CustomLink :url="to" class="nav__item">
      <slot />
    </CustomLink>
  </div>
</template>

<script>
import CustomLink from "@/components/Link.vue";

export default {
  name: "NavigationItem",
  components: { CustomLink },
  props: {
    to: {
      type: String,
      required: true
    }
  }
};
</script>

<style scoped lang="scss">
@import "src/assets/base.scss";

.nav__item {
  @include navigation-font();
  display: inline-block;
}
.nav__item-wrapper {
  &:not(:first-child):before {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25% 0;
    @include icon-font;
    content: map_get($icons, "delimiter");
  }

  @media screen and (min-width: 100em) {
    display: inline;
    height: initial;
    &:not(:first-child):before {
      @include icon-font;
      content: map_get($icons, "delimiter");
      display: inline;
      padding: 0 24px;
    }

    &:last-of-type {
      margin-right: 80px;
    }
  }
}
</style>
