<template>
  <div class="teaser" :class="variation" :style="style()">
    <h3 class="teaser__title">{{ title }}</h3>
    <div class="teaser__item" v-for="(item, index) in teaserItems" :key="index">
      <div class="teaser__text">{{ item.text }}</div>
      <CustomLink
        v-if="item.link"
        class="teaser__link"
        :url="item.link.url"
        :target="item.link.target"
        v-on:click.native="mutations.setAccentColor(backgroundColor)"
        >{{ item.link.text }}<span class="icon-arrow"></span
      ></CustomLink>
    </div>
  </div>
</template>

<script lang="ts">
import CustomLink from "@/components/Link.vue";
import { defineComponent, inject, ref } from "@vue/composition-api";
import { MUTATIONS } from "../constants/provided-components";

export default defineComponent({
  components: { CustomLink },
  props: {
    backgroundColor: {
      type: String
    },
    title: {
      type: String
    },
    teaserItems: {
      type: Array,
      required: true
    },
    variation: {
      type: String,
      default: ""
    }
  },
  setup(props) {
    const backgroundColor = ref(props.backgroundColor);

    const style = () => {
      return backgroundColor.value
        ? { "background-color": backgroundColor.value }
        : {};
    };

    return { style, mutations: inject(MUTATIONS) };
  }
});
</script>

<style lang="scss" scoped>
@import "src/assets/base";

.teaser {
  min-height: 80vh;
  @include fluid-type(
    padding-top padding-bottom,
    $viewport-min,
    $viewport-max,
    2.5em,
    3em
  );
  @include fluid-type(
    padding-left padding-right,
    $viewport-min,
    $viewport-max,
    $left-right-content-space-min,
    $left-right-content-space-max
  );
  color: #ffffff;
  box-sizing: border-box;
}

.teaser__title {
  @include title-font();
}

.teaser__text {
  margin-top: 48px;
  font-family: Quicksand, serif;
  @include fluid-type(
    font-size,
    $viewport-min,
    $viewport-max,
    1.125em,
    1.875em
  );
  font-weight: 500;
  line-height: 1.33em;
}

.teaser__link {
  margin-top: 24px;
  font-family: Quicksand, serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.4px;
  line-height: 24px;
}

.teaser--small {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 3em;
  margin: 0;

  @media screen and (min-width: $viewport-max) {
    width: calc(30vw - 6em);
  }

  .teaser__title {
    font-size: 18px;
    line-height: 30px;
  }

  .teaser__text {
    margin-top: 30px;
  }

  .teaser__link {
    margin-top: 24px;
  }
}

.icon-arrow {
  font-size: 14px;
  margin-left: 16px;
}
</style>
