<template>
  <div class="teaserlist" :class="clazz">
    <Teaser
      v-for="teaser in teasers"
      :key="teaser.id"
      v-bind="processTeaser(teaser)"
    />
  </div>
</template>

<script lang="ts">
import Teaser from "@/components/Teaser.vue";
import { defineComponent } from "@vue/composition-api";

const mapTeaserListClass = (variation: string): string =>
  variation === "small" ? `teaserlist--${variation}` : "";

const mapTeaserClass = (variation: string): string =>
  variation === "small" ? `teaser--small` : "";

export default defineComponent({
  components: { Teaser },
  props: {
    teasers: {
      type: Array,
      default: () => []
    },
    variation: {
      type: String,
      default: ""
    }
  },
  setup(props) {
    const clazz = mapTeaserListClass(props.variation);
    const processTeaser = (teaser: { id?: number; variation?: string }) => {
      if (!teaser.variation) {
        teaser.variation = mapTeaserClass(props.variation);
      }
      teaser.id = undefined;
      return teaser;
    };

    return {
      clazz,
      processTeaser
    };
  }
});
</script>

<style lang="scss" scoped>
.teaserlist {
  display: flex;
  flex-flow: column;
  justify-content: center;

  &.teaserlist--small {
    flex-flow: row wrap;
    justify-content: center;
  }
}
</style>
