$header-height: 136px;
$sidebar-close-size: 24px;
$left-right-content-space-min: 1.125em;
$left-right-content-space-max: 11.625em;
$sidebar-width-min: $left-right-content-space-min;
$sidebar-width-max: 8.625em;
$viewport-min: 37.5em;
$viewport-max: 75em;
$logo-width-sm: 32px;
$navigation-overlay-z-index: 100;

$icons: (
  "arrow": "\e900",
  "menu": "\e901",
  "close": "\e902",
  "delimiter": "\e903"
);

@mixin title-font() {
  font-family: Quicksand, serif;
  @include fluid-type(font-size, $viewport-min, $viewport-max, 1.625em, 3em);
  font-weight: 600;
  line-height: 1.33em;
}

@mixin navigation-font() {
  font-family: Quicksand, serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.4px;
  line-height: 1.28em;
  color: #1f1f1f;
  text-decoration: none;
}

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value, $dimension: 'width') {
  $propertyUnit: '';
  @if ($dimension == "width") {
    $propertyUnit: 'vw';
  } @else if($dimension == "height") {
    $propertyUnit: 'vh';
  } @else {
    @error "Invalid value `#{$dimension}` for variable dimension, valid values are 'width' or 'height'."
  }

  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media (min-#{$dimension}: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (#{100 + $propertyUnit} - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
    }
  }

  @media (min-#{$dimension}: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

// Extracted from generated style.css from icomoon
@mixin icon-font() {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: Quicksand, serif;
  @include fluid-type(font-size, $viewport-min, $viewport-max, 1.875em, 3em);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.33em;
}

h2 {
  font-family: Quicksand, serif;
  @include fluid-type(font-size, $viewport-min, $viewport-max, 1.125em, 1.875em);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.33em;
}

h4 {
  font-family: Quicksand, serif;
  @include fluid-type(font-size, $viewport-min, $viewport-max, 1em, 1.5em);
  font-weight: bold;
  letter-spacing: 0.4px;
  line-height: 24px;
}
