/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    quotes: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}