<template>
  <div id="app">
    <Header :window="window" :document="document" />
    <CloseSidebar />
    <router-view />
    <Footer></Footer>
  </div>
</template>

<script lang="ts">
// TODO Importing css from scss below will result in error
import "./assets/main.css";
import CloseSidebar from "@/components/CloseSidebar.vue";
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import { defineComponent, onMounted, provide } from "@vue/composition-api";
import { Mutations, Store } from "./store/store";
import VueI18n from "vue-i18n";
import { I18N, MUTATIONS, STORE } from "./constants/provided-components";

export default defineComponent({
  name: "App",
  components: { CloseSidebar, Header, Footer },
  props: {
    window: {
      required: true
    },
    document: {
      required: true
    },
    store: {
      required: true
    },
    mutations: {
      required: true
    },
    i18n: {
      required: true
    }
  },
  setup(props: {
    window: Window;
    document: Document;
    store: Store;
    mutations: Mutations;
    i18n: VueI18n;
  }) {
    function setApplicationLanguage() {
      props.mutations.setCurrentLocale(props.i18n.locale);
    }

    provide(I18N, props.i18n);
    provide(STORE, props.store);
    provide(MUTATIONS, props.mutations);

    onMounted(() => setApplicationLanguage());
  }
});
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import "src/assets/icons/style";
@import "src/assets/base";

html {
  $scrollbar_width: 17px;
  width: calc(100vw - 2 * #{$scrollbar_width});
  padding-left: $scrollbar_width;
  font-size: 16px;
}

body {
  @include fluid-type(
    margin-left margin-right,
    $viewport-min,
    $viewport-max,
    $left-right-content-space-min,
    $left-right-content-space-max
  );

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  position: relative;
}
</style>
